@import "tailwindcss";
*{
    box-sizing: border-box;
}
@font-face {
    font-family: vazir;
    src: url(/public/VazirMedium/Vazirmatn-Medium.eot);
    src: url(/public/VazirMedium/Vazirmatn-Medium.ttf);
    src: url(/public/VazirMedium/Vazirmatn-Medium.woff);
    src: url(/public/VazirMedium/Vazirmatn-Medium.woff2);
}
/* [#24262f] */
@layer index{
    .header{
        @apply w-full h-[55px] md:h-[70px] border-b-[0.5px] border-gray-700 flex justify-center items-center fixed top-0 bg-[rgba(24,28,35,0.3)] backdrop-blur-sm mx-auto
    }
    .fix_header{
        @apply w-full h-fit flex justify-center items-center
    }

    .myName{
        @apply text-white font-bold w-[40%] md:pr-[50px] pr-2.5
    }
    .navBar{
        @apply w-[60%] h-full flex justify-end items-center md:pl-[50px] pl-2.5
    }
    .profile{
        @apply w-full md:h-[400px] flex  justify-center items-center  mt-3.5 flex-wrap h-[600px]
        
    }
    .picture{
        @apply md:w-[40%] md:h-full flex items-center md:justify-end  h-[300px] w-full justify-center 
    }
    .info{
        @apply md:w-[60%]  md:h-full flex items-center md:justify-start justify-center flex-wrap md:py-[60px] w-full h-[200px]
    }
    .border{
        @apply w-[280px] h-[280px] rounded-full border-4 border-[#ff6a3d]  flex items-center justify-center md:ml-[50px] 
    }
    .wraper{
        @apply max-w-[1500px] mx-auto bg-[#181c23] font-[vazir] h-auto
    }

    .img{
        @apply w-[90%] h-[90%] object-cover rounded-full border-4 border-[#24262f] 
    }
    .type{
        @apply text-white md:text-5xl md:w-full h-[50px] w-[90%] text-3xl
    }
    .aboutme{
        @apply w-full h-fit flex flex-wrap p-[10px] justify-center md:gap-[30px]
    }
    .skil{
        @apply w-full h-[600px] flex justify-center items-center gap-3 flex-wrap md:w-[50%]
    }
    .skils{
        @apply w-[50%] text-white flex justify-end items-center h-[40px] text-xl
    }
    .dot{
        @apply text-9xl text-[#ff6a3d] text-center h-[40px]
    }
    .proj{
        @apply w-full h-[800px] md:h-[350px]  mt-[40px]
    }
    .box{
        @apply w-[90%] h-[220px] rounded-2xl bg-[#24262f] md:w-[30%] hover:bg-[#2A2E38] duration-300 md:h-[230px] mt-[10px] md:mt-[30px] p-[20px]
    }
    .box_contact{
        @apply w-[90%] h-[160px] rounded-2xl bg-[#24262f] md:w-[30%] hover:bg-[#2A2E38] duration-300 md:h-[170px] mt-[10px] md:mt-[30px] p-[20px]
    }
    .svg-proj{
        @apply w-[50px] h-[50px] bg-[#ff6a3d] rounded-xl flex items-center justify-center 
    }

}

@layer menus{
    
    .menus_wraper{
        @apply w-full h-fit min-h-dvh flex flex-wrap max-w-[1500px] mx-auto
    }
    .menus_header{
        @apply w-full h-[80px] flex justify-center items-center text-4xl font-semibold text-[rgba(255,255,255,.6)] fixed backdrop-blur-sm bg-[rgba(24,28,35,0.5)] top-0
    }
    .menus_section{
        @apply w-full h-fit min-h-[550px]  flex justify-center items-center flex-wrap mt-[50px] xl:gap-0 gap-6
    }
    .preview{
        @apply w-full h-[45px] flex justify-center items-center z-50 -mt-[90px] xl:-mt-[105px]
    }
    .previewTxt{
        @apply w-[150px] h-full font-bold text-2xl text-[rgba(255,255,255,.6)]  bg-[rgba(0,0,0,.2)] backdrop-blur-lg flex justify-center items-center rounded-t-xl
    }
    .describe_menu{
        @apply min-w-[360px] w-[50%] text-center text-gray-400 font-medium text-lg font-[vazir]
    }
    .view_site_btn{
        @apply w-[140px] h-[45px] rounded-3xl bg-[#ff6a3d] text-white font-bold cursor-pointer hover:-mt-1 hover:shadow-2xl hover:shadow-rose-400 duration-500 hover:bg-white hover:text-[#ff6a3d] flex justify-center items-center
    }
    
}

/* swiper setting */

.swiper{
  width: 95%;
  max-width: 500px;
  height: 240px;
}

.swiper-wrapper{
  width: 100% !important;
  height: inherit;
}

.swiper-slide{
  width: 100% !important;
  height: inherit;
}

.swiper-button-next , .swiper-button-prev  {
  width: 25px !important;
  height: 40px !important;
  color: gray !important;
  border: 1px solid gray;
  padding: 7px !important;
  border-radius: 99px;
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.3);
  
  
}

